/*Importing fonts from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Ubuntu+Mono&display=swap');

body {
	background-color: #D1D2B1;
	font-family: "Aleo", serif;
	font-size: 1.3vw;
}

h1 {
	font-family: "Ubuntu Mono", monospace;
	font-size: 5vw;
}

h2 {
	font-family: "Ubuntu Mono", monospace;
	font-size: 1.4em;
}

.header {
	display: flex;
	align-items: center;
	padding-bottom: 3%;
	border-bottom: 0.3em solid #000000;
}

.header-image {
	width: 30%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 50%;
}

.list {
	display: inline;
}

.list img {
	width: 1em;
	padding-right: 1%;
}

.list h2 {
	font-size: 1.5em;
	display: inline;
	padding-top: 0.3em;
	padding-right: 0.6em;
	transition: background-color 0.5s;
}

.list h2:hover {
	background-color: #8C9E5E;
}

#wishlist h2 {
	font-size: 1.2em;
	font-weight: normal;
}

#wishlist h2:before {
	content: "•";
	display: inline-block;
	padding-right: 0.5em;
}

.content {
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 64%;
	height: 100%;
	padding: 2%;
	margin-left: 16.5%;
}

@media screen and (max-aspect-ratio: 12/9) {
	body {
		font-size: 2em;
	}

	.header {
		display: block;
	}
	.header-image {
		margin-left: 15%;
		width: 70%;
	}
	
	.list h2 {
		display: block;
	
	}
}
