body {
	background-color: #D1D2B1;
}

h1 {
	font-family: "Arial";
	font-size: 5em;
}

h2 {
	font-family: "Arial";
	font-size: 2em;
}

p {
	font-family: "Arial";
	font-size: 1.3em;
}

.header {
	display: flex;
	align-items: center;
	padding-bottom: 3%;
	border-bottom: 0.3em solid #000000;
}

.header h2 {
	display: inline;
	padding-right: 5%;
}

.header-image {
	margin-left: 5%;
	margin-right: 10%;
	border-radius: 50%;
}

.intro {
	display: inline;
}

.intro img {
	width: 3%;
	padding-right: 1%;
}

.content {
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 64%;
	min-width: 30em;
	height: 100%;
	padding: 2%;
	margin-left: 16.5%;
}
